@use 'reset';
@use 'variables' as *;
@use 'function' as *;
@use 'keyframes';
@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Oi&display=swap');

body {
    color: $deep;
}

/* 頁首區 */
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-l; //數字越大，權重越重
    width: 100%;
    /* position的寬度會改為自動抓內容尺寸 */
    display: flex; // 主軸方向：水平
    justify-content: space-between; // 主軸水平左右均分
    align-items: center; // 副軸垂直置中
    padding: $interval-xy-l;
    // background: url(../images/banner_1.jpg);

    .logo {
        width: 65px;
    }

    .navigation {
        display: flex; //主軸方向：水平
        flex-direction: column; //主軸方向：垂直
        align-items: flex-end; //副軸水平靠右

        .icon {
            display: flex;

            a {
                width: 35px;
                height: 35px;
                margin-right: $interval-s;
                transition: $speed-fast;
            }

            @each $social in fb, ig, line {
                .icon-#{$social} {
                    background-image: url(../images/icon-#{$social}.svg);
                }

                .icon-#{$social}:hover {
                    background-image: url(../images/icon-#{$social}-hover.svg);
                }
            }
        }

        @font-face {
            font-family: "Super-Shiny";
            src: url(../webfonts/Super-Shiny.ttf);
        }

        .menu {
            font-family: "Super-Shiny", sans-serif;
            display: flex;
            border-radius: 99px;
            padding: $interval-x-s;
            margin-top: $interval-s;
            @extend %glassmorphism;

            a {
                margin: $interval-s;
                padding: 7px 0 5px;
                @include bordered-b($color: transparent);
                transition: $speed-fast;
                text-shadow: $text-shadow;

                &:hover {
                    @include bordered-b;
                    color: $deep;
                }
            }
        }
    }
}

/* 主要內容共用區 */
section {
    height: 100vh;
    @extend %box-center;
    flex-direction: column;

    .title {
        @extend %box-center;
        flex-direction: column;
        position: relative;
        margin-bottom: $interval-l;

        &::before {
            content: "";
            /* 必須設定，就算沒有值也要保留空值 */
            background-color: $deep;
            width: 15px;
            height: 15px;
            border-radius: 99px;

            position: absolute;
            top: -10px;
            left: -15px;
        }

        &::after {
            content: "";
            /* 必須設定，就算沒有值也要保留空值 */
            background-color: $deep;
            width: 15px;
            height: 15px;
            border-radius: 99px;

            position: absolute;
            bottom: 20px;
            right: -15px;
        }

        h2 {
            font-family: 'Oi', serif;
            font-size: $font-size-xxxl;
        }

        h3 {
            font-family: 'Chocolate Classical Sans', serif;
            font-size: $font-size-l;
        }
    }
}

.box-list {
    width: 80%;
    max-width: 1400px;
    /* 最大寬度max-width(px)常搭配寬度width(%) */
    display: flex;

    .item {
        @include bordered;
        flex: 1;
        margin: $interval-x-m;
        border-radius: $border-r-m;
        overflow: hidden; //超過隱藏

        .content{
            padding: $interval-m;

            h2{
                font-size: $font-size-xl;
                font-weight: $font-weight-bold;
                margin-bottom: $interval-s;
            }
        }
    }
}

/* 最新消息 */
#news {
    background-color: $bg-1;
    figure{
        height: 30vh;

        img{
            // width: 100%;已在reset中設定
            @extend %img-cover;
        }
    }

    .content {
        transition: $speed-fast;

        p{
            @extend %line-clamp;
            -webkit-line-clamp: 5;
            text-align: justify; // 英文不要用很醜 中文可以使用
        }

        &:hover {
            background-color: $light;
        }
    }
}

/* 服務項目 */
#service {
    background-color: $bg-2;
    @each $service in 1, 2, 3, 4 {
        .svc-#{$service} {
            background-image: url(../images/pt_svc#{$service}.jpg);
        }
    }

    .item {
        display: flex; //主軸：水平
        flex-direction: column; //主軸改垂直
        justify-content: flex-end; // 垂直置底
        height: 60vh;

        background-size: cover;
        background-position: center;
    }

    .content {
        background-color: $alpha-b-65;
        color: $light;
        transition: $speed-fast;

        &:hover {
            background-color: $alpha-b-85;
        }
        p {
            @extend %line-single;
        }
    }
}

/* 關於我們 */

/* 相關影片 */
#video {
    background-color: $bg-3;
    div{
        height: 60vh;

        video {
            height: 100%;
        }
    }
}


/* 聯絡我們 */
#contact {
    position: relative;
    overflow: hidden;
    background-image: url(../images/bg_contact.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* 固定背景 */

    #contact-form {
        width: 35%;

        >* {
            display: block;
            width: 100%;

        }

        label {
            margin: $interval-lable;
            font-size: $font-size-s;
        }

        input,
        textarea {
            color: $lesser-4;
            font-size: $font-size-s;
            padding: 8px;
            border-radius: 5px;
            @extend %glassmorphism;

            //修改input預設樣式
            background-color: transparent;
            border: none;

            &::placeholder {
                color: $lesser-3;
            }

            &:focus {
                outline: 2px solid $lesser-3;
            }
        }

        small {
            font-size: $font-size-xs;
            margin-top: $interval-s;
        }

        #contact-btn {
            @extend %box-center;
            @extend %glassmorphism;
            //修改button預設樣式
            background-color: transparent;
            border: none;

            border-radius: 99px;
            cursor: pointer;
            height: 60px;
            width: 210px;
            margin: $interval-x-center;


            span {
                color: $lesser-4;
                font-size: 12px;
                letter-spacing: 1.5rem; // 字距加在每個字的右邊
                padding-left: 1.5rem; // 用左邊內距捕右邊的字距使其平衡
            }

            &:hover {
                animation: rotate 0.7s ease-in-out both;

                span {
                    animation: storm 0.7s ease-in-out both;
                    animation-delay: 0.06s;
                }
            }
        }
    }

    .flower_r {
        width: 320px;
        position: absolute;
        left: -30px;
        bottom: -50px;
        transform: rotate(30deg);
    }

    .flower_w {
        width: 320px;
        position: absolute;
        right: -30px;
        top: 50px;
        transform: rotate(-50deg);
    }
}

footer {
    height: 150px;
    background-color: $bg-1;
}